<div class="wrapper wrapper-full-page">
  <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
      <div class="container">
          
          <div class="collapse navbar-collapse" id="menu-example">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a routerLink="/dashboard">
                          <i class="material-icons">dashboard</i> Inicio
                      </a>
                  </li>
                  
              </ul>
          </div>
      </div>
  </nav>

  <div class="full-page lock-page" filter-color="purple" data-image="../assets/img/lock.jpeg">
      <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->
      <div class="content ">
         
     
          <div class="col-md-10 col-md-offset-1 ">
              <div class="card ">
                  <div class="card-header text-center">
                      <h2>Terminos y politicas de privacidad</h2>
                  </div>
                  <div class="card-content">
                      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                          <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingOne">
                                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      <h4 class="panel-title">
                                        1. Introducción
                                          <i class="material-icons">keyboard_arrow_down</i>
                                      </h4>
                                  </a>
                              </div>
                              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a mauris erat. Aenean tellus sem, luctus vel tristique nec, pretium sollicitudin tellus. Donec mollis mollis lacus, vel dignissim erat lobortis at. Ut mauris urna, cursus non urna euismod, porta ornare neque. Donec consectetur felis vel libero eleifend, nec tincidunt dolor fringilla. Phasellus quam sem, pellentesque sed odio nec, aliquet dapibus odio. Maecenas ex magna, rutrum at enim eget, consequat sodales velit. Nam vitae risus venenatis, hendrerit mauris in, vulputate mauris. Aenean placerat libero quis metus congue dignissim. Maecenas vel blandit sem, eu vehicula nunc. Phasellus sit amet lectus massa.
                                  </div>
                              </div>
                          </div>
                          <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingTwo">
                                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      <h4 class="panel-title">
                                        2. Sus obligaciones
                                          <i class="material-icons">keyboard_arrow_down</i>
                                      </h4>
                                  </a>
                              </div>
                              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                  <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a mauris erat. Aenean tellus sem, luctus vel tristique nec, pretium sollicitudin tellus. Donec mollis mollis lacus, vel dignissim erat lobortis at. Ut mauris urna, cursus non urna euismod, porta ornare neque. Donec consectetur felis vel libero eleifend, nec tincidunt dolor fringilla. Phasellus quam sem, pellentesque sed odio nec, aliquet dapibus odio. Maecenas ex magna, rutrum at enim eget, consequat sodales velit. Nam vitae risus venenatis, hendrerit mauris in, vulputate mauris. Aenean placerat libero quis metus congue dignissim. Maecenas vel blandit sem, eu vehicula nunc. Phasellus sit amet lectus massa.
                                  </div>
                              </div>
                          </div>
                          <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingThree">
                                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      <h4 class="panel-title">
                                        3. Contenido y propiedad
                                          <i class="material-icons">keyboard_arrow_down</i>
                                      </h4>
                                  </a>
                              </div>
                              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                  <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a mauris erat. Aenean tellus sem, luctus vel tristique nec, pretium sollicitudin tellus. Donec mollis mollis lacus, vel dignissim erat lobortis at. Ut mauris urna, cursus non urna euismod, porta ornare neque. Donec consectetur felis vel libero eleifend, nec tincidunt dolor fringilla. Phasellus quam sem, pellentesque sed odio nec, aliquet dapibus odio. Maecenas ex magna, rutrum at enim eget, consequat sodales velit. Nam vitae risus venenatis, hendrerit mauris in, vulputate mauris. Aenean placerat libero quis metus congue dignissim. Maecenas vel blandit sem, eu vehicula nunc. Phasellus sit amet lectus massa.
                                  </div>
                              </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                    <h4 class="panel-title">
                                      4. Privacidad
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </h4>
                                </a>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a mauris erat. Aenean tellus sem, luctus vel tristique nec, pretium sollicitudin tellus. Donec mollis mollis lacus, vel dignissim erat lobortis at. Ut mauris urna, cursus non urna euismod, porta ornare neque. Donec consectetur felis vel libero eleifend, nec tincidunt dolor fringilla. Phasellus quam sem, pellentesque sed odio nec, aliquet dapibus odio. Maecenas ex magna, rutrum at enim eget, consequat sodales velit. Nam vitae risus venenatis, hendrerit mauris in, vulputate mauris. Aenean placerat libero quis metus congue dignissim. Maecenas vel blandit sem, eu vehicula nunc. Phasellus sit amet lectus massa.
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
     
         
      </div>

      <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a [routerLink]="['/privacypolicy']" >
                            Politica de privacidad
                        </a>
                    </li>
                    
                </ul>
            </nav>
            <p class="copyright pull-right">
                &copy;
             {{test | date: 'yyyy'}}
                Papel y tinta - Papeleria y Regalos
        </div>
    </footer>
    
  </div>
</div>
