<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <h3 class="title text-center">Administradores</h3>
          <br />
          <div class="nav-center">
              <ul class="nav nav-pills nav-pills-info nav-pills-icons" role="tablist">
                  <!-- color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"  -->
                  
                  <li >
                      <a href="#description-1" role="tab" data-toggle="tab">
                          <i class="material-icons">add_circle</i> Agregar 
                      </a>
                  </li>
                  <li>
                      <a href="#schedule-1" role="tab" data-toggle="tab">
                          <i class="material-icons">info</i> Lista
                      </a>
                  </li>
              </ul>
          </div>
        </div>

          
          <div class="tab-content">
            <!--
               Agregar   -->
            <div class="tab-pane active" id="description-1">

              <div class="col-md-12">
                <div class="card">
                    <form #f2="ngForm"  class="form-horizontal" novalidate (ngSubmit)="save(f2.value, f2.valid)">
                        
                      <div class="card-header text-center " data-background-color="blue">
                            <h4 class="card-title">Agregar nuevo administrador</h4>
                        </div>

                 <div class="card-content">

                        <h4 class="card-title"> <i class="material-icons">create</i> Informacion del administrador</h4>

                            <div class="row">
                               
                               <div class="col-sm-5">
                                    <div class="form-group label-on-left">
                                        <label class="control-label"></label>
                                        <input class="form-control" type="text" name="text"   [(ngModel)]="adminModel.nombre"
                                          required  #text="ngModel" placeholder="Nombre">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                  <div class="form-group label-on-right">
                                      <label class="control-label"></label>
                                      <input class="form-control" type="text" name="text"   [(ngModel)]="adminModel.apellido"
                                        required  #text="ngModel" placeholder="Apellido">
                                  </div>
                              </div>
                                
                            </div>

                 <h4 class="card-title"> <i class="material-icons">create</i>Informacion de la cuenta</h4>

                 <div div class="row">
                  <div class="col-md-12">
   
                    <div class="form-group label-floating">
                      <label class="control-label" for="">Email:
                          <span class="star">*</span>
                      </label>
                      <input type="email" class="form-control" name="email"  [(ngModel)]="adminModel.correo"
                      required  #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                    <small [hidden]="email.valid || (email.pristine && !f2.submitted)" class="text-danger">
                      Email es requerido en un formato como este: <i>john@doe.com</i>.
                    </small>
                    </div>

                    <div class="form-group label-floating">
                      <label  for="" class="control-label">Contraseña
                          <span class="star">*</span>
                      </label>
                      <input type="password" class="form-control" name="password"  required #text="ngModel" [(ngModel)]="adminModel.password"
                     >
                      
                  </div>

                  
                  </div>
                </div>


                           
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-info btn-fill" [disabled]="!f2.valid"   (click)="addAdmin()">Agregar Nuevo</button>
                        </div>
                    </form>
                </div>
            </div>

            

            </div>
            <!--
                     termina agregar   -->
           
          

           <!--
                     Lista   -->
           
            <div class="tab-pane " id="schedule-1">
                    
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-icon" data-background-color="blue">
                                <i class="material-icons">assignment</i>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">Administradores</h4>
                                <div class="content table-responsive">
                                    <table class="table">
                                            <thead>
                                                <tr>
                                                  <th>{{ tableData1.headerRow[0] }}</th>
                                                  <th>{{ tableData1.headerRow[1] }}</th>
                                                  <th>{{ tableData1.headerRow[2] }}</th>
                                                  <th class="text-right" >{{ tableData1.headerRow[3] }}</th>
                                                  <th class="text-right">{{ tableData1.headerRow[4] }}</th>
                                                  <th class="text-right">{{ tableData1.headerRow[5] }}</th>
                                                </tr>
                                            </thead>
                                          <tbody>
                                              <tr *ngFor="let admin of administradores">
                                                  <td class="text-center">{{admin.id}}</td>   
                                                  <td>{{admin.nombre}}</td>
                                                  <td>{{admin.apellido}}</td>
                                                  <td class="text-right">{{admin.correo}}</td>
                                            
                                                  <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" class="btn btn-info btn-round " [routerLink]="['/editaradmin', admin.id]"   data-placement="bottom" title="Editar">
                                                        <i class="material-icons">edit</i>
                                                    </button>

                                                      <button type="button" rel="tooltip" class="btn btn-danger btn-round "  (click)="eliminarAdmin(admin)" data-placement="bottom" title="Eliminar">
                                                          <i class="material-icons">close</i>
                                                      </button>
                                                  </td>
                                              </tr>
                                          </tbody>
    
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                   </div>
    

            </div>
                  
                            <!--
                                      Termina lista   -->
                            
          </div>

  </div>
</div>