
    <div class="wrapper wrapper-full-page">
        <div class="full-page login-page" filter-color="blue" data-image="../../../assets/img/login.jpg">
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                            
                                <div class="card card-login card-hidden" >    
                                    <div class="image" >
                                            <img src="../../../assets/img/logo.png"  width="100" height="100">
                                      </div>
                                    <h4 class="category text-center" >
                                        Inicia sesion con tu cuenta 
                                    </h4>
                                    <div class="card-content">
                                       
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">face</i>
                                            </span>
                                            <div [formGroup]="contacto" class="form-group label-floating">
                                              <label class="control-label" for="">Email:
                                                  <span class="star">*</span>
                                              </label> 
                                              <input  required class="form-control" type="email" formControlName="email" [(ngModel)]="contacto2.email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" 
                                               />
                                                    
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <div [formGroup]="contacto" class="form-group label-floating">
                                              <label  for="" class="control-label">Contraseña
                                                  <span class="star">*</span>
                                              </label>
                                              <input  required class="form-control" type="password" formControlName="password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [(ngModel)]="contacto2.password" />
                                            </div>
                                        </div>
      
      
      
                                    </div>
                                    <div class="footer text-center">
                                        <button (click)="IniciarSeccion()" 
                                        type="submit" class="btn btn-rose btn-simple btn-wd btn-lg">Iniciar sesion</button>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
      
        </div>
      </div>
      
      
      