<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <h3 class="title text-center">Administradores</h3>
          <br />
          <div class="nav-center">
              <ul class="nav nav-pills nav-pills-info nav-pills-icons" role="tablist">
                  <!-- color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"  -->
                  <li class="active">
                      <a href="#description-1" role="tab" data-toggle="tab">
                          <i class="material-icons">add_circle</i> Agregar 
                      </a>
                  </li>
                  <li>
                      <a href="#schedule-1" role="tab" data-toggle="tab">
                          <i class="material-icons">info</i> Lista
                      </a>
                  </li>
              </ul>
          </div>
        </div>

          
          <div class="tab-content">
            <!--
               Agregar   -->
            <div class="tab-pane active" id="description-1">

         
            

            </div>
            <!--
                     termina agregar   -->
           
          

           <!--
                     Lista   -->
           
            <div class="tab-pane " id="schedule-1">
                    
               
    

            </div>
                  
                            <!--
                                      Termina lista   -->
                            
          </div>

  </div>
</div>