<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <!-- administradores    -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats" >
                <div class="card-header" data-header-animation="true">             
                    <button type="button" class="btn btn-info" [routerLink]="['/admin']" >
                        <i class="material-icons">person</i>
                    </button>
                </div>
                    <div class="card-content">
                        <h3 class="card-title text-info">184</h3>
                    </div>
                    <div class="card-footer">
                        <h3 class="card-title ">Administradores</h3>
                    </div>
                </div>
            </div>


            <!-- Clientes    -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                <div class="card-header" data-header-animation="true">             
                    <button type="button" class="btn btn-success" [routerLink]="['/clientes']" >
                        <i class="material-icons">assignment_ind</i>
                    </button>
                </div>
                    <div class="card-content">
                        <h3 class="card-title text-success">50</h3>
                    </div>
                    <div class="card-footer">
                        <h3 class="card-title ">Clientes</h3>
                    </div>
                </div>
            </div>

            <!-- Proveedores   -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                <div class="card-header" data-header-animation="true">             
                    <button type="button" class="btn btn-default" [routerLink]="['/proveedores']" >
                        <i class="material-icons">local_shipping</i>
                    </button>
                </div>
                    <div class="card-content">
                        <h3 class="card-title text-default">7</h3>
                    </div>
                    <div class="card-footer">
                        <h3 class="card-title ">Proveedores</h3>
                    </div>
                </div>
            </div>


           <!-- Categorias    -->
           <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
            <div class="card-header" data-header-animation="true">             
                <button type="button" class="btn btn-primary" [routerLink]="['/categorias']" >
                    <i class="material-icons">category</i>
                </button>
            </div>
                <div class="card-content">
                    <h3 class="card-title text-primary">9</h3>
                </div>
                <div class="card-footer">
                    <h3 class="card-title ">Categorias</h3>
                </div>
            </div>
        </div>

<!-- Productos    -->
<div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
    <div class="card-header" data-header-animation="true">             
        <button type="button" class="btn btn-warning" [routerLink]="['/productos']" >
            <i class="material-icons">widgets</i>
        </button>
    </div>
        <div class="card-content">
            <h3 class="card-title text-warning">100</h3>
        </div>
        <div class="card-footer">
            <h3 class="card-title ">Productos</h3>
        </div>
    </div>
</div>

            <!-- Ventas    -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                <div class="card-header" data-header-animation="true">             
                    <button type="button" class="btn btn-danger" [routerLink]="['/ventas']" >
                        <i class="material-icons">shopping_bag</i>
                    </button>
                </div>
                    <div class="card-content">
                        <h3 class="card-title text-danger">46</h3>
                    </div>
                    <div class="card-footer">
                        <h3 class="card-title ">Ventas</h3>
                    </div>
                </div>
            </div>

              <!-- Inventario    -->
              <div class="col-md-6 col-md-offset-3">
                <div class="card card-stats">
                <div class="card-header" data-header-animation="true">             
                    <button type="button" class="btn btn-rose" [routerLink]="['/inventario']" >
                        <i class="material-icons">inventory</i>
                    </button>
                </div>
                    <div class="card-content">
                        <h3 class="card-title text-rose">300</h3>
                    </div>
                    <div class="card-footer">
                        <h3 class="card-title ">Inventario</h3>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
