<div class="wrapper wrapper-full-page">
    
  <div class="full-page register-page" filter-color="blue" data-image="../assets/img/register.jpeg">
      <div class="container">

              <div class="col-md-6 col-md-offset-3">
                 
                  
                          <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->
                          <div class="content-center">
                            
                              <div class="col-xs-4"></div>
                              
                                <h1 class="title">404</h1>
                                <h2>Pagina no encontrada :( </h2>
                                <h4>Ooooups! Parece que no pudimos encontrarla.</h4>
                             
                          
                     
                            
                         
                      </div>
                 
              </div>
          
      </div>
  </div>
</div>
